.demo4 {
  border: 1px solid #ccc;
  padding: 50px;
  position: relative;
  height: 800px;
  width: 800px;
  overflow: hidden;

  .dot {
    background: red;
    position: absolute;
    height: 3px;
    width: 3px;
  }
}